<div class="Tit">
	<div class="d-flex flex-row align-items-md-center pt-1">

		<h1 class="flex-fill">Artículos</h1>
		<button class="btn btn-accion mr-1 BusqBoton">
			<fa-icon 
				class="TitIconoDerecha align-items-end align-content-center align-self-center" 
				[routerLink]="['/ArticuloFiltro']"
				[icon]="['fas', 'filter']"
				>
			</fa-icon>
		</button>
	</div>
	<form [formGroup]="frm" (ngSubmit)="this.busqRapida('Lista')">
		<div class="input-group">
			<button class="btn btn-accion mr-1 BusqBoton" type="submit">
				<fa-icon [icon]="['fas', 'search']"></fa-icon> 
			</button>
			<input type="text" class="form-control BusqInput" formControlName="txtBusqueda">
		</div>
	</form>
</div>
<div *ngIf="this.artListando || this.artListaMensaje > ''" class="BusqLeyenda">
	<span>{{this.artListaMensaje}}</span>
	<fa-icon *ngIf="this.artListando" [icon]="['fas', 'spinner']" [spin]=true></fa-icon>
</div>

<div *ngIf="!this.hayArticulos()" class="artLista" >
	<div class="d-flex justify-content-center mt-5 mb-3" style="opacity:0.8">
		<img 
			srcset="
				/assets/img/LogoBlanco-320w.png 320w,
				/assets/img/LogoBlanco-480w.png 480w,
				/assets/img/LogoBlanco-800w.png 800w"
			sizes="
				(max-width: 320px) 280px,
	 			(max-width: 480px) 440px,
	 			800px"
			src="/assets/img/LogoBlanco-800w.png"
			width="80%" height="80%"
		/>
	</div>
	<!--
	<div class="d-flex justify-content-center mt-5 mb-3" style="opacity:0.8">
		<img src="/assets/img/LogoBlanco.png" width="80%" />
	</div>
	-->
	<div class="d-flex flex-row justify-content-around artLista--div">
		<a href="https://www.facebook.com/albylabruna" target="_blank"><fa-icon [icon]="['fab', 'facebook']" size="lg"></fa-icon></a>
		<a href="https://twitter.com/albylabruna" target="_blank"><fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon></a>
		<a href="https://www.instagram.com/albylabruna/" target="_blank"><fa-icon [icon]="['fab', 'instagram']" size="lg"></fa-icon></a>
		<!-- 28-4-2021 -->
		<a href="https://cutt.ly/Gc6RGLY" target="_blank"><fa-icon [icon]="['fas', 'cloud-download-alt']" size="lg"></fa-icon></a>
	</div>

	


	
</div>

		




<ul class="cebra list-group">
  <div class="list-group-item d-inline-flex justify-content-start align-items-center"
  *ngFor="let art of this.artLista"
  >
    <div class="float-left flex-fill">
      <span class="badge badge-secundaria">{{art.codigo}}</span>
			<h6>{{art.descripcion}}</h6>
			<span class="badge Rubro mr-1">{{art.rubro}}</span>
			<span class="badge Rubro">{{art.subrubro}}</span>
		</div>
		<span class="BotDetalle">
			<a [routerLink]="['/Articulo',art.id]">
				<fa-icon [icon]="['fas', 'ellipsis-h']"></fa-icon>
			</a>
		</span>
  </div>
</ul>
