.art-tit-contenedor {
	background-color: #2a6a92;
	padding-bottom: 5px;
	margin-top: 0px;
	padding-top: 5px;
}

.art-tit-contenedor span {
	margin-right: 0px;
	margin-left: 3px;
}

.art-tit-contenedor h3 {
	color: #eeeeee;
	filter: blur(0px) contrast(100%) grayscale(0%) hue-rotate(55deg) invert(0%) sepia(0%);
	text-align: center;
}

.art-frm {
	padding-top:0.7rem;
	padding-bottom:0.3rem;
}

.art-frm ul {
	margin: 0px 2px;	
}

.art-frm-etiqueta {
	margin-right: 3px;
}

.art-frm-txt {
	padding: 0px;
}

.art-frm-boton {
	padding: 0px;
}

.art-recuadro {
	padding: 0px;
	width: 50%; 
	padding-left: 1px;
}

.art-recuadro-tit {
	background-color: rgb(124,178,228);
	padding: 0px;
}

.art-recuadro-tit-icono{
	width: 20%;
	height: auto;
	margin: auto;
	padding: auto;
	font-size: 20px;
	margin-right: 3px;
	font-weight: bold;
}

.art-recuadro-tit-texto{
	width: 80%;
	background-color: #fcfcfc;
	margin: 2px;	
}

.art-recuadro-item {
	padding: 1px 0px 1px 0px;
}

.btn-agregar {
	background-color: rgb(124,178,228);
}

		
.btn-agregado {
	animation-name: aniAgregar;
	animation-duration: 1s;
	background-color: green;
}

@keyframes aniAgregar {
  0%   {background-color: rgb(124,178,228);}
  100% {background-color: green;}
}